.App{
  background-color: whitesmoke;
  padding: 10px;
  background-repeat: none;
}

button {
  background-color: gray;
  color: white;
  padding: 0.25rem;
  margin: 0 0.5rem;
  align-items: left;
}

nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #04AA6D;
  color: white;
}
#flex{
  display: flex;
  background-color: #333;
  color:white;
}
#important, #map{
  margin-left: 25%;
}
#contacts{
  margin-left: 2%;
}
#footer{
margin-bottom: 0%;
font-size: x-large;
}

.card {
  margin: 1rem;
  display: inline-table;
  width: 25%;
  height: 30%;
  flex-direction: column;
  justify-content: left; 
  align-items: center;
  padding: 1rem;
  background-color:lightslategray;
}
a{
  color:lightslategray;
  text-decoration: none;
  
}
a:hover{
  color:white;
  text-decoration: none;
}